h1 {color:rgb(241, 12, 12) ;}
body {
    text-align: center;
    background-color: aquamarine;
    text-decoration-color: aqua;
    
}
.form {

    text-align: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;
    padding:20px;
    border: 2px solid black;
}